@font-face {
	font-family: 'lxjs2013';
	src:url('../fonts/lxjs2013.eot');
	src:url('../fonts/lxjs2013.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lxjs2013.woff') format('woff'),
		url('../fonts/lxjs2013.ttf') format('truetype'),
		url('../fonts/lxjs2013.svg#lxjs2013') format('svg');
	font-weight: normal;
	font-style: normal;
}
/**
.icon-quill:before {
	content: "\e000";
}
.icon-location:before {
	content: "\e001";
}
.icon-cal:before {
	content: "\e002";
}
.icon-code:before {
	content: "\e003";
}
.icon-envelop2:before {
	content: "\e004";
}
.icon-info:before {
	content: "\e005";
}
.icon-menu3:before {
	content: "\e006";
}
.icon-share2:before {
	content: "\e007";
}
.icon-users:before {
	content: "\e008";
}
.icon-wrench:before {
	content: "\e009";
}
.icon-bubble-dots:before {
	content: "\e00a";
}
.icon-glass:before {
	content: "\e00b";
}
.icon-compass:before {
	content: "\e00c";
}
.icon-arrow-up:before {
	content: "\e00d";
}
.icon-arrow-right:before {
	content: "\e00e";
}
.icon-arrow-down:before {
	content: "\e00f";
}
.icon-arrow-left:before {
	content: "\e010";
}
.icon-twitter:before {
	content: "\e011";
}
.icon-tumblr:before {
	content: "\e012";
}
.icon-lxjs:before {
	content: "\e013";
}
.icon-geeklist:before {
	content: "\e014";
}
.icon-special:before {
	content: "\e015";
}
.icon-phone:before {
	content: "\e017";
}
.icon-globe:before {
	content: "\e018";
}
.icon-user:before {
	content: "\e019";
}
.icon-profile:before {
	content: "\e01a";
}
.icon-smiley:before {
	content: "\e016";
}
.icon-sad:before {
	content: "\e01b";
}
.icon-neutral:before {
	content: "\e01c";
}
.icon-arrow-round-down:before {
	content: "\e01d";
}
.icon-arrow-round-left:before {
	content: "\e01e";
}
.icon-arrow-round-right:before {
	content: "\e01f";
}
.icon-arrow-round-up:before {
	content: "\e020";
}
**/