@media #{$small} {
	
	.schedule {
		&.workshops {
			.day {
				@include grid-column($columns: 4);
			}
		}
	}
	
	.entry-cover-wrapper {
		&.illu:before {
			/* @extend .icon; */
			font-size: 80px;
			margin: -40px 0 0 0;
		}
	}
	
	.entry {
		.entry-prose {
			.entry-cover-wrapper {
				float: left;
				margin: 0 20px 20px 0;
			}
		}
	}
	
	.boxy-list {
		.entry {
			@include grid-column($columns: 6);
			&:nth-child(odd) {
				clear: left;
			}
		}
	}
		
	.contacts-list {
		text-align: center;
		li {
			text-align: left;
			display: inline-block;
		}
	}
	
	.entry-list {
		&.speakers,
		&.team,
		&.sections {
			/* @include block-grid(2, 15px, true); */
			> li {
				@include grid-column($columns: 6);
			}
		}
	}

	#site-foot {
		.discover,
		.follow {
			@include grid-column($columns: 6);
		}
		.newsletter {
			@include grid-column($columns: 12);
		}
		.credits {
			.copyright {
				text-align: center;
				dd {
					display: inline-block;
					&:after {
						content: '•';
						margin: 0 10px;
					}
					&:last-child:after {
						display: none;
					}
				}
			}
		}
	}

}

@media #{$medium} {
	
	#sections-featured {
		.entry-list {
			&.sections {
				> li {
					@include grid-column($columns: 3);
				}
			}
		}
	}

	#brand-logo {
		font-size: 0;
	}

	#site-head {
		.toggle-menu {
			display: none;
		}
	}
	
	.speakers-call {
		@include grid-column($columns: 6);
	}

	.mod {
		.mod-prime-title {
			font-size: emCalc(36px);
			@include grid-column($columns: 10, $center: true);
		}
		.mod-description {
			font-size: emCalc(24px);
			@include grid-column($columns: 10, $center: true);
		}
		.mod-head {
			.wrapper {
				@include grid-column($columns: 6, $center: true);
			}
		}
	}
	
	#site-title {
		@include grid-column($columns: 3);
		font-size: emCalc(66px);
		line-height: 0.8;
		&:before {
			top: -155px;
			left: -144px;
			font-size: 260px;
		}
		em {
			display: block;
		}
	}
	
	#prime-nav {
		display: block;
		@include grid-column($columns: 9);
		display: block;
		background: none;
		margin-top: 0;
		margin-bottom: 0;
		font-size: emCalc(24px);
		ul {
			margin: 0;
			li {
				@include grid-column($columns: 4);
				margin-top: 2px;
				margin-bottom: 10px;
				border-bottom: 0;
				a {
					color: $base-color;
					line-height: 1.2;
					padding: 0;
					small {
						line-height: 1.2;
					}
				}
			}
		}
	}
	
	.entry {
		.entry-prose {
			@include grid-column($columns: 10, $center: true);
		}
	}
	
	.entry-list {
		&.speakers,
		&.team,
		&.sections {
			/* @include block-grid(4, 15px, true); */
			> li {
				@include grid-column($columns: 3);
			}
		}
	}
		
	#site-foot {
		.discover,
		.follow,
		.newsletter {
			@include grid-column($columns: 4);
		}
	}
	
	.tickets-list {
		.ticket-wrapper {
			@include grid-column($columns: 6);
		}
	}
	
	.slider {
		.slide-caption {
			background: rgba($base-color, .7);
			-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#700C486D,endColorstr=#700C486D);
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 10;
		}
		img {
			@include border-radius(4px);
		}
	}
	
}
